body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.App.dark-mode {
  background-color: #333;
  color: white;
}

.task-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

.task-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.typing {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  0% {
      border-color: rgba(255, 255, 255, 0.75);
  }
  50% {
      border-color: transparent;
  }
  100% {
      border-color: rgba(255, 255, 255, 0.75);
  }
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.task-list li:last-child {
  border-bottom: none;
}

.task-list li .task {
  flex-grow: 1;
}

.task-list li .task.completed {
  text-decoration: line-through;
}

.task-list li .task.completed:hover {
  text-decoration: none;
}

.task-list li .task.completed + .actions {
  display: none;
}



